[Unit]
Description=dStoryRpgBot
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=i2d
Group=i2d
WorkingDirectory=/home/i2d/discordbot
ExecStart=/usr/bin/node /home/i2d/discordbot/bot.js
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
